@import "sass/variables";
@import "sass/fonts";

body{
    font-family: var(--rdf__primary-font);
    font-weight: var(--rdf__font-weight-300);
    line-height: var(--rdf__line-height-regular);
}

.rdf-grid{
    display: grid;
    
    grid-template-areas: 
    "header"
    "banner"
    "title"
    "intro"
    "services"
    "portfolio"
    "blog"
    "footer"
}
.rdf__header{
    grid-area: header;
    background-color: var(--rdf__primary-100);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-logo{
        display: flex;
        align-items: center;
        margin-left: 4px;

        img{
            height: 154px;
        }
    } 

    &-menu{
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;

            a{
                text-decoration: none;
            }
        }
    }
    
}
.rdf__banner{
    grid-area: banner;
}
.rdf__title{
    grid-area: title;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1160px) 1fr;

    .rdf__central-column{
        display: flex;
        flex-direction: row;
        justify-content: start;
        
        .rdf__title-side{
            padding-left: 64px;
            font-size: 32px;
            line-height: 48px;
        }
    }
}
.rdf__intro{
    grid-area: intro;
    background-color: var(--rdf__primary-100);
    color: var(--rdf__background-300);
    padding-top: 64px;
    display: grid;
    font-size: var(--rdf__font-size-regular);
    grid-template-columns: 1fr minmax(auto, 1160px) 1fr;
}
.rdf__central-column{
    grid-column: 2;
}
.rdf__services{
    grid-area: services;
    background-color: var(--rdf__background-100);
    color: var(--neutral-100);
}
.rdf__portfolio{
    grid-area: portfolio;
    background-color: var(--rdf__background-100);
    color: var(--neutral-100);
}
.rdf__blog{
    grid-area: blog;
}
.rdf__footer{
    grid-area: footer;
    background-color: var(--rdf__primary-100);
}

.rdf__element{
    display: flex;
    width: 155px;
    flex-direction: column;
    background-color: var(--rdf__background-100);
    color: var(--rdf__neutral-100);
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-right: 1px solid var(--rdf__neutral-100);
    border-bottom: 1px solid var(--rdf__neutral-100);
    border-top: 1px solid var(--rdf__neutral-100);

    &-number{
        font-size: var(--rdf__font-size-regular);
        margin: 0;
    }
    &-symbol{
        font-size: 64px;
        margin: 0;
        font-weight: var(--rdf__font-weight-500);
    }
    &-name{
        font-size: var(--rdf__font-size-regular);
        margin: 0;
    }

    &:hover{
        background-color: var(--rdf__highlight-100);
    }
}
