@import "sass/variables";
@import "sass/fonts";

body{
    font-family: var(--rdf__primary-font);
    font-weight: var(--rdf__font-weight-300);
    line-height: var(--rdf__line-height-regular);
}
.navbar>.container-fluid{
    padding: 0;
}
.navbar{
    background-color: var(--rdf__primary-100);
    padding: 0;

    .navbar-brand,
    .nav-item,
    .nav-link{
        padding: 0 !important;
    }
    
}


.rdf__element{
    display: flex;
    width: 155px;
    flex-direction: column;
    background-color: var(--rdf__background-100);
    color: var(--rdf__neutral-100);
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-right: 1px solid var(--rdf__neutral-100);
    border-bottom: 1px solid var(--rdf__neutral-100);
    border-top: 1px solid var(--rdf__neutral-100);

    &-number{
        font-size: var(--rdf__font-size-regular);
        margin: 0;
    }
    &-symbol{
        font-size: 64px;
        margin: 0;
        font-weight: var(--rdf__font-weight-500);
    }
    &-name{
        font-size: var(--rdf__font-size-regular);
        margin: 0;
    }
    &-logo{
        background-color: var(--rdf__highlight-100);
    }

    &:hover{
        background-color: var(--rdf__highlight-100);
    }
}
